// ==================================================
// Editor
// ==================================================
/*! wysiwyg.css v0.0.2 | MIT License | github.com/jgthms/wysiwyg.css */
/* w/ Custom properties for Kit adaptation purposes*/

.wysiwyg {
	a {
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid;
		}
	}
	abbr {
		border-bottom: 1px dotted;
		cursor: help;
	}
	cite {
		font-style: italic;
	}
	hr {
		background: #e6e6e6;
		border: none;
		display: block;
		height: 1px;
		margin-bottom: rem(22.4);
		margin-top: rem(22.4);
	}
	ins {
		background-color: lime;
		text-decoration: none;
	}
	mark {
		background-color: yellow;
	}
	small {
		@include font-size(12.8);
	}
	strong {
		font-weight: 700;
	}
	sub,
	sup {
		@include font-size(12.8);
	}
	sub {
		vertical-align: sub;
	}
	sup {
		vertical-align: super;
	}
	p {
		padding: 0;
		line-height: 1.5;
		a {            
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				border-bottom: 0;
			}
		}
	}
	p,
	dl,
	ol,
	ul,
	blockquote,
	pre,
	table {
		margin-bottom: rem(24);
	}

	p:last-child,
	dl:last-child,
	ol:last-child,
	ul:last-child,
	blockquote:last-child,
	pre:last-child,
	table:last-child {
		margin-bottom: rem(24);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $main-color;
		font-weight: normal;
		margin: rem(24) 0;
		padding: 0;
	}
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}
	h1 {
		@include font-size(48);
	}
	h2 {
		@include font-size(42);
	}
	h3 {
		@include font-size(35);
	}
	h4 {
		@include font-size(21);
	}
	h5 {
		@include font-size(17);
	}
	h6 {
		@include font-size(16);
	}
	dd {
		margin-left: rem(22);
	}
	ul {
		list-style: none; 
	}		
	ul li {
		list-style: none;
		text-indent: rem(-11);
		&:last-child {
			margin-bottom: 0;
		}
		// &::before {
		//     color: red;
		//     content: "\2022";
		//     font-size: 1.8em;
		//     position: relative;
		//     top: 5px;
		//     left: 0.3em;
		//   }
		// &::after{
		//     content: unset;
		// }
	}		
	ol,
	ul {
		list-style-position: outside;
		padding-right: rem(16);
	}
	ol {
		list-style-type: decimal;
	}
	ol ol {
		list-style-type: lower-alpha;
	}
	ol ol ol {
		list-style-type: lower-roman;
	}
	ol ol ol ol {
		list-style-type: lower-greek;
	}
	ol ol ol ol ol {
		list-style-type: decimal;
	}
	ol ol ol ol ol ol {
		list-style-type: lower-alpha;
	}
	ul {
		list-style-type: disc;
	}
	ul ul {
		list-style-type: circle;
	}
	ul ul ul {
		list-style-type: square;
	}
	ul ul ul ul {
		list-style-type: circle;
	}
	ul ul ul ul ul {
		list-style-type: disc;
	}
	ul ul ul ul ul ul {
		list-style-type: circle;
	}
	blockquote {
		background: none;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D";
	}
	blockquote:before,
	blockquote:after {
		@include font-size(48);
		line-height: 0;
		vertical-align: -16px;
		display: inline-block;
	}
	blockquote:before {
		content: open-quote;
		margin-right: rem(6);
	}
	blockquote:after {
		content: close-quote;
		margin-left: rem(6);
	}
	blockquote p {
		@include font-size();
		display: inline;
		line-height: 1.5;
	}
	code,
	kbd,
	samp,
	pre {
		-moz-osx-font-smoothing: auto;
		-webkit-font-smoothing: auto;
		background-color: lightgray;
		color: dimgray;
		@include font-size(14.5);
	}
	code,
	kbd,
	samp {
		border-radius: 3px;
		line-height: 1.77778;
		padding: 0.1em 0.4em 0.2em;
		padding: rem(1.5) rem(6) rem(3);
		vertical-align: baseline;
	}
	pre {
		overflow: auto;
		padding: rem(16) rem(18);
	}
	pre code {
		background: none;
		@include font-size(14);
		line-height: 2;
	}
	figure {
		margin-bottom: rem(44);
		text-align: center;
	}
	figure:first-child {
		margin-top: 0;
	}
	figure:last-child {
		margin-bottom: 0;
	}
	figcaption {
		@include font-size(14);
		margin-top: rem(12);
	}
	table {
		width: 100%;
	}
	table pre {
		white-space: pre-wrap;
	}
	th,
	td {
		@include font-size(14);
		padding: rem(12);
		border: 1px solid lightgray;
		line-height: 1.3;
	}
	thead tr,
	tfoot tr {
		background-color: lightgrey;
	}
	thead th,
	thead td,
	tfoot th,
	tfoot td {
		@include font-size();
		padding: rem(12);
	}
	thead th code,
	thead td code,
	tfoot th code,
	tfoot td code {
		background-color: white;
	}
	tbody tr {
		background-color: white;
	}	
}