// ==================================================
// Global
// ==================================================
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: map-get($browser-context, desktop);
	@each $bp, $size in $html-font-sizes {
		@include breakpoint($bp) {
			font-size: $size;
		}
	}
	&[lang="ar"] body {
		direction: rtl;
		.browserupgrade.ar {
			display: block;
		}
	}
	&[lang="fr"] body {
		direction: ltr;
		.browserupgrade.fr {
			display: block;
		}
	}
	&[lang="en"] body {
		direction: ltr;
		.browserupgrade.en {
			display: block;
		}
	}
}

body {
	font-family: $main-font;
	@include font-size;
	color: $main-color;
	background: white;
	line-height: 1.4;
}

a {
	transition: 0.3s;
	text-decoration: none;
	color: $secondary-color;
}

img {
	width: 100%;
	height: auto;
	max-width: max-content;
}

input {
	border: none;
	background: none;
}

ul {
	list-style-type: none;
}

main {
	display: block;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	padding: 0;
	border-top: 1px solid gainsboro;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
}

 textarea {
	resize: vertical;
}

.browserupgrade {
	display: none;
	border-bottom: 1px solid white;
	p {
		color: white;
		text-align: center;
		padding: rem(16) 0;
		background: #333;		
	}
	a {
		color: lightskyblue;
		&:hover {
			text-decoration: underline;
		}
	}
}