// ==================================================
// Layout
// ==================================================
.container {
	width: 100%;
	max-width: 100%;
	@include breakpoint(1456) {
		padding: 0 rem($gutter * 2);
	}
}

.row {
	width: 100%;
	max-width: map-get($breakpoints, desktop);
	margin: 0 auto;
	@extend .clearfix;
	[class^="col"] {
		float: left;
		padding: 0 rem($gutter);
	}
	&.equal-height {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		[class^="col"] {
			display: flex;
			flex-direction: column;
		}
		.content {
			height: 100%;
		}
	}
	&.no-gutter {
		padding: 0 rem($gutter);
		[class^="col"] {
			padding: 0;
		}
	}
	&.no-pad {
		[class^="col"] {
			padding: 0;
		}
	}
	@for $i from 1 through $grid-columns {
		.col:first-child:nth-last-child(#{$i}) {
			width: percentage(1 / $i);
			& ~ .col {
				width: percentage(1 / $i);
			}
		}
	}
	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			width: percentage($i / $grid-columns);
		}
		.push-#{$i} {
			margin-right: percentage($i / $grid-columns);
		}
		.pull-#{$i} {
			margin-left: percentage($i / $grid-columns);
		}
	}
	@include breakpoint('charmeleon') {
		@for $i from 1 through $grid-columns {
			.col-t-#{$i} {
				width: percentage($i / $grid-columns);
			}
		}
	}
	@include breakpoint('charmander') {
		[class^="col"] {
			width: 100%;
			margin: 0 auto rem($gutter);
		}
		@for $i from 1 through $grid-columns {
			.col-m-#{$i} {
				width: percentage($i / $grid-columns);
				margin: 0;
			}
		}
		&.reorder {
			display: flex;
			flex-wrap: wrap;
			[class^="col"] {
				&.first {
					order: 1;
				}
				&.second {
					order: 2;
				}
				&.third {
					order: 3;
				}
				&.fourth {
					order: 4;
				}
			}
		}
	}
}