// ==================================================
// Forms
// ==================================================
form {
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        font-family: $main-font;
        display: inline-block;
        margin-top: rem(5);
        padding: 0 rem(20);
        width: 100%;
        height: 44px;
        background: $white;
        border: 1px solid #999999;
        color: $main-color;
        &::-webkit-input-placeholder {
            color: rgba($main-color , .8);
        }
        &::-moz-placeholder {
            color: rgba($main-color , .8);
        }
        &:-ms-input-placeholder {
            color: rgba($main-color , .8);
        }
        &:-moz-placeholder {
            color: rgba($main-color , .8);
        }
        &.error {
            color: $error;
            border-color: $error;
            &::-webkit-input-placeholder {
                color: $error;
            }
            &::-moz-placeholder {
                color: $error;
            }
            &:-ms-input-placeholder {
                color: $error;
            }
            &:-moz-placeholder {
                color: $error;
            }
        }
    }
    .select {
        border: 2px solid #999999;
        margin-top: rem(5);
        background: $white url(../img/form/icon-select.png) no-repeat 95% 50%;
        select {
            width: 100%;
            height: 44px;
            font-family: $main-font;
            padding: rem(12) rem(10);
            width: 100%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -moz-appearance:none;
            -webkit-appearance: none;
            &::-ms-expand {
                display: none;
            }
        }
    }
    p.error{
        color: $error;
        @include font-size(12);
        padding-top: rem(5);
        line-height: 1.2;
    }
}