// ==================================================
// Helpers
// ==================================================
// Text Alignment
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

// Float Elements
.float-left {
	float: left;
}
.float-right {
	float: right;
}

// Transform Center
.transform-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.transform-center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.transform-center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Cover Image
.cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

// Clearfix
.clearfix {
	&::after {
	  content: '';
	  display: block;
	  clear: both;
	}
}