// ==================================================
// Mixins
// ==================================================
// Typography
@mixin font-face($base-url, $font-filename, $font-alias, $weight: normale) {
	@font-face {
		font: {
			family: $font-alias;
			weight: $weight;
		}
		src: url($base-url + "/" + $font-filename + ".eot");
		src: url($base-url + "/" + $font-filename + ".eot?#iefix") format("embedded-opentype"),
		url($base-url + "/" + $font-filename + ".woff") format("woff"),
		url($base-url + "/" + $font-filename + ".ttf") format("truetype"),
		url($base-url + "/" + $font-filename + ".svg#" + $font-filename) format("svg");
	}
}

@mixin font-size($size: map-get($browser-context, desktop)) {
	@if (unitless($size)) {
		$size: $size * 1px;
	}
	font-size: $size;
	font-size: #{$size / map-get($browser-context, desktop)}rem;
}

// Convert px size value to rem
@function rem($size) {
	@if (unitless($size)) {
		$size: $size * 1px;
	}
	@return #{$size / map-get($browser-context, desktop)}rem;
}

// Breakpoints
@mixin breakpoint($point, $second-point: false, $width: max-width) {
	@if type-of($point) == 'number' {
		@if (unitless($point)) {
			$point: $point * 1px;
		}
		@if $second-point {
			@if (unitless($second-point)) {
				$second-point: $second-point * 1px;
			}
			@media only screen and (min-width: $point + 1px) and ($width: $second-point) { @content; }
		}
		@else {
			@if $width == min-width {
				@media only screen and ($width: $point + 1px) { @content; }
			}
			@else {
				@media only screen and ($width: $point) { @content; }
			}
		}
	}
	@else {
		@if $point == 'charizard' {
			@media only screen and ($width: map-get($breakpoints, desktop)) { @content; }
		} @else if $point == 'charmeleon' {
			@media only screen and ($width: map-get($breakpoints, tablet)) { @content; }
		} @else if $point == 'charmander' {
			@media only screen and ($width: map-get($breakpoints, mobile))  { @content; }
		}
	}
}

// Background gradient
@mixin gradient-horizontal($c1, $c2, $alpha1: 1,  $alpha2: 1) {
	background: rgba($c1, $alpha1);
	background: -ms-linear-gradient(left, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	background: linear-gradient(to right, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c1}', endColorstr='#{$c2}', GradientType=1 );
}

@mixin gradient-vertical($c1, $c2, $alpha1: 1,  $alpha2: 1) {
	background: rgba($c1, $alpha1);
	background: -ms-linear-gradient(top, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	background: linear-gradient(to bottom, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c1}', endColorstr='#{$c2}', GradientType=0 );
}

@mixin gradient-diagonal($c1, $c2, $alpha1: 1,  $alpha2: 1) {
	background: rgba($c1, $alpha1);
	background: -ms-linear-gradient(-45deg, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	background: linear-gradient(135deg, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c1}', endColorstr='#{$c2}', GradientType=1 );
}

@mixin gradient-antidiagonal($c1, $c2, $alpha1: 1,  $alpha2: 1) {
	background: rgba($c1, $alpha1);
	background: -ms-linear-gradient(45deg, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	background: linear-gradient(45deg, rgba($c1, $alpha1) 0%, rgba($c2, $alpha2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c1}', endColorstr='#{$c2}', GradientType=1 );
}