// ==================================================
// Settings
// ==================================================
// Browser Contexts
$browser-context: (
	desktop: 16px,
	tablet : 15px,
	mobile : 14px
);
	
// Fonts
$html-font-sizes: (
	'charizard'  map-get($browser-context, desktop),
	'charmeleon' map-get($browser-context, tablet),
	'charmander' map-get($browser-context, mobile),
);
$base-font            : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-font            : $base-font;
$main-font-light      : $base-font;
$main-font-medium     : $base-font;
$main-font-bold       : $base-font;
$secondary-font       : $base-font;
$secondary-font-light : $base-font;
$secondary-font-medium: $base-font;
$secondary-font-bold  : $base-font;

// Colors
$main-color     : #222222;
$secondary-color: #5f9ea0;
$black          : #000000;
$white          : #ffffff;
$error          : #e02626;
$success        : #59a618;

// Breakpoints
$breakpoints: (
	desktop: 1440px,
	tablet : 1024px,
	mobile : 760px
);

// Grid
$gutter      : 8;
$grid-columns: 12;